﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - PetForum.Mvc</title>
    <meta charset="utf-8">
    <title>Forum - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <nav class="panel-menu" id="mobile-menu">
        <ul>
        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">
                Close
                <div class="tt-icon">
                    <svg>
                        <use xlink:href="#icon-cancel"></use>
                    </svg>
                </div>
            </div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>
    <header id="tt-header">
        <div class="container">
            <div class="row tt-row no-gutters">
                <div class="col-auto">
                    <!-- toggle mobile menu -->
                    <a class="toggle-mobile-menu" href="#">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-menu_icon"></use>
                        </svg>
                    </a>
                    <!-- /toggle mobile menu -->
                    <!-- logo -->
                    <div class="tt-logo">
                        <a href="index.html"><img src="~/images/logo.png" alt=""></a>
                    </div>
                    <!-- /logo -->
                    <!-- desctop menu -->
                    <div class="tt-desktop-menu">
                        <nav>
                            <ul>                        
                                <li>
                                    <a href="page-create-topic.html"><span>Post</span></a>
                                    <ul>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a asp-controller="Post" asp-action="Create">New Post</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /desctop menu -->
                    <!-- tt-search -->
                    <div class="tt-search">
                        <!-- toggle -->
                        <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">
                            <svg class="tt-icon">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </button>
                        <!-- /toggle -->
                        <form class="search-wrapper">
                            <div class="search-form">
                                <input type="text" class="tt-search__input" placeholder="Search" id="index-post-keyword">
                                <a class="tt-search__btn" onclick="searchEventHandler()">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                </a>
                                <button class="tt-search__close">
                                    <svg class="tt-icon">
                                        <use xlink:href="#cancel"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="search-results">
                                <div class="tt-search-scroll">
                                    <ul>
                                        <li>
                                            <a href="page-single-topic.html">
                                                <h6 class="tt-title">Rdr2 secret easter eggs</h6>
                                                <div class="tt-description">
                                                    Here’s what I’ve found in Red Dead Redem..
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-single-topic.html">
                                                <h6 class="tt-title">Top 10 easter eggs in Red Dead Rede..</h6>
                                                <div class="tt-description">
                                                    You can find these easter eggs in Red Dea..
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-single-topic.html">
                                                <h6 class="tt-title">Red Dead Redemtion: Arthur Morgan..</h6>
                                                <div class="tt-description">
                                                    Here’s what I’ve found in Red Dead Redem..
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-single-topic.html">
                                                <h6 class="tt-title">Rdr2 secret easter eggs</h6>
                                                <div class="tt-description">
                                                    Here’s what I’ve found in Red Dead Redem..
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-single-topic.html">
                                                <h6 class="tt-title">Top 10 easter eggs in Red Dead Rede..</h6>
                                                <div class="tt-description">
                                                    You can find these easter eggs in Red Dea..
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-single-topic.html">
                                                <h6 class="tt-title">Red Dead Redemtion: Arthur Morgan..</h6>
                                                <div class="tt-description">
                                                    Here’s what I’ve found in Red Dead Redem..
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="tt-view-all" data-toggle="modal" data-target="#modalAdvancedSearch">Advanced Search</button>
                            </div>
                        </form>
                    </div>
                    <!-- /tt-search -->
                </div>
                <div class="col-auto ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="tt-account-btn">
                            <a class="btn btn-primary" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </div>
                            <span> @(User.Identity.Name)</span>
                    }
                    else
                    {
                        <div class="tt-account-btn">
                        <a class="btn btn-primary" asp-controller="Auth" asp-action="Login">Login</a>
                        <a class="btn btn-primary" asp-controller="Auth" asp-action="Register">Register</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main id="tt-pageContent" class="tt-offset-small">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PetForum.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bundle.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>