﻿@model PetForum.Web.Mvc.Models.IndexListPostViewModel

@if (!Model.Posts.Any())
{
    <p>There are no posts found!</p>
}

@foreach (var post in Model.Posts)
{
    <div class="tt-item">
        <div class="tt-col-avatar">
            <svg class="tt-icon">
                <use xlink:href="#icon-ava-t"></use>
            </svg>
        </div>
        <div class="tt-col-description">
            <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="tt-title">@post.Title </a>
            <div class="row align-items-center no-gutters">
                <div class="col-11">
                    <ul class="tt-list-badge">
                        <li class="show-mobile"><span class="tt-color07 tt-badge category-cursor" style="cursor:default">@post.Category</span></li>
                        <li><span class="tt-badge">From: @post.UserName</span></li>
                        <li><span class="tt-badge">Created On: @post.CreatedOn</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div hidden="hidden">
            <input value="@post.Id" id="post-id" />
        </div>
        <div class="tt-col-category"><span class="tt-color07 tt-badge category-cursor" style="cursor:default">@post.Category</span></div>
        <div class="tt-col-value hide-mobile">@post.Likes</div>
        <div class="tt-col-value tt-color-select  hide-mobile">@post.CommentsCount</div>
    </div>
}