﻿@model PetForum.Web.Mvc.Models.LogInViewModel

<nav class="panel-menu" id="mobile-menu">
    <ul>
    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                    <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<main id="tt-pageContent" class="tt-offset-none">
    <div class="container">
        <div class="tt-loginpages-wrapper">
            <div class="tt-loginpages">
                <a href="index.html" class="tt-block-title">
                    <img src="~/images/logo.png" alt="">
                    <div class="tt-title">
                        Welcome to PetForum
                    </div>
                    <div class="tt-description">
                        Log into your account to unlock true power of community.
                    </div>
                </a>
                <form class="form-default" role="form" method="post" asp-action="Login" asp-controller="Auth">
                    <div class="form-group">
                        <label for="loginUserName">Email</label>
                        <input type="text" asp-for="@Model.Email" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="loginUserPassword">Password</label>
                        <input type="password" asp-for="@Model.Password"class="form-control" placeholder="************">
                    </div>
                    <div class="row">
                        <div class="col ml-auto text-right">
                            <a href="#" class="tt-underline">Forgot Password</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">Log in</button>&nbsp;
                    </div>
                    <div class="tt-notes">
                        By Logging in, signing in or continuing, I agree to
                        PetForum’s <a href="#" class="tt-underline">Terms of Use</a> and <a href="#" class="tt-underline">Privacy Policy.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>