﻿@model PetForum.Web.Mvc.Models.CreateUserViewModel

<nav class="panel-menu" id="mobile-menu">
    <ul>
    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                    <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<main id="tt-pageContent" class="tt-offset-none">
    <div class="container">
        <div class="tt-loginpages-wrapper">
            <div class="tt-loginpages">
                <a href="index.html" class="tt-block-title">
                    <img src="~/images/logo.png" alt="">
                    <div class="tt-title">
                        Welcome to PetForum
                    </div>
                    <div class="tt-description">
                        Join the forum to unlock true power of community.
                    </div>
                </a>
                <form class="form-default" role="form" method="post" asp-action="Register" asp-controller="Auth">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input asp-for="@Model.Username" type="text" oninput="checkIfFree(this.value)" class="form-control" placeholder="Enter Username">
                        <span id="username-validation" hidden="hidden" style="color: red;" class="text-danger">Username is already taken</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input asp-for="@Model.FirstName" type="text" class="form-control" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input asp-for="@Model.LastName" type="text" class="form-control" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">DisplayName</label>
                        <input asp-for="@Model.DisplayName" type="text" class="form-control" placeholder="Enter DisplayName">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-block">Register</button>&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>