﻿@model PetForum.Web.Mvc.Models.CreatePostViewModel

<div class="container">
    <div class="tt-wrapper-inner">
        <h1 class="tt-title-border">Create New Topic</h1>
        <form class="form-default" role="form" method="post" asp-action="Create" asp-controller="Post">
            <div class="form-group">
                <label for="inputTopicTitle">Post Title</label>
                <div class="tt-value-wrapper">
                    <input type="text" asp-for="@Model.Title" class="form-control" id="inputTopicTitle" placeholder="Subject of your topic">
                    <span class="tt-value-input">99</span>
                </div>
                <div class="tt-note">Describe your post well, while keeping the subject as short as possible.</div>
            </div>
            <div class="pt-editor">
                <h6 class="pt-title">Post Content</h6>               
                <div class="form-group">
                    <textarea type="text" asp-for="@Model.Content" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputTopicTitle">Category</label>
                            <select asp-for="@Model.CategoryName" asp-items="@Model.Categories" class="form-control">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <div class="form-group">
                            <button type="submit" class="btn btn-secondary btn-block">Create Post</button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>