﻿@model PetForum.Web.Mvc.Models.PostViewModel

<div class="container">
    <div class="tt-single-topic-list">
        <div class="tt-item">
            <div class="tt-single-topic">
                <form class="form-default" role="form" method="get" asp-action="Details" asp-controller="Post">
                    <div class="tt-item">
                        <div class="tt-single-topic">
                            <div class="tt-item-header">
                                <div class="tt-item-info info-top">
                                    <div class="tt-avatar-icon">
                                        <i class="tt-icon"><svg><use xlink:href="#icon-ava-d"></use></svg></i>
                                    </div>
                                    <div class="tt-avatar-title">
                                        <a href="#">@Model.DisplayName</a>
                                    </div>
                                    <a href="#" class="tt-info-time">
                                        <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@Model.CreatedOn
                                    </a>
                                </div>
                                <h3 class="tt-item-title">
                                    <a href="#">@Model.Title</a>
                                </h3>
                            </div>
                            <div class="tt-item-description">
                                <h6 class="tt-title">@Model.Content</h6>
                            </div>
                            <div class="tt-item-info info-bottom">
                                <a class="tt-icon-btn">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                                    <span class="tt-text">@Model.Likes.Count</span>
                                </a>
                                <div class="col-separator"></div>
                                <a href=~/images/single-topic-img05.jpg class="tt-icon-btn tt-hover-02 tt-small-indent">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                                </a>
                                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                                </a>
                                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                                    <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @if (Model.Comments.Any())
        {
            @foreach (var item in Model.Comments)
            {

                <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-d"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                                <h6>@Model.DisplayName</h6>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@item.CreatedOn
                            </a>
                        </div>
                        <h3 class="tt-item-title">
                            @Model.Title
                        </h3>
                    </div>
                    <div class="tt-item-description">
                        @item.Content<br>
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">@item.Likes.Count</span>
                        </a>
                        <div class="col-separator"></div>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                        </a>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                        </a>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                        </a>
                    </div>
                </div>

            }
        }
        else
        {
            <p>"Be the first to comment"</p>
        }
        <div class="tt-wrapper-inner">
            <div class="pt-editor form-default">
                <h6 class="pt-title">Post your comment</h6>
                <div class="pt-row">
                    <div class="col-left">
                        <ul class="pt-edit-btn">
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-quote"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-bold"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-italic"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-share_topic"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-blockquote"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-performatted"></use>
                                    </svg>
                                </button>
                            </li>
                            <li class="hr"></li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-upload_files"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-bullet_list"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-heading"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-horizontal_line"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-emoticon"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-settings"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn-icon">
                                    <svg class="tt-icon">
                                        <use xlink:href="#icon-color_picker"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <form method="post" role="form" class="comment-form">
                    <div class="form-group">
                        <textarea maxlength="500" id="comment-message" asp-for="@Model.NewComment" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                        <div class="col-auto"></div>
                    </div>
                    <div hidden="hidden">
                        <input asp-for="@Model.Id" value="@Model.Id" id="bar-id" />
                    </div>
                    <div class="col-md-12">
                        <button type="submit" asp-action="Create" asp-controller="Comment" class="btn btn-primary">Comment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>